*{
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    background-color: rgb(86, 3, 155);
    background-image: url('./assets/circuit-pattern.png');
    font-family: 'Abril Fatface', cursive;
}

#navbar {
    display: inline-flex;
    align-items: center;
    padding-left: 2%;

}

h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-size: 35px;
    font-weight:200;
}

.hide-me {
    display: none;
}

nav {
    background-color: rgb(111, 255, 111);
}

#searchBar {
    height: 4vh;
    width: 30vw;
    margin-left: 2%;
}

container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
   
}

h3 {
    font-size: 1.7em;
    font-weight: bold;
    color: rgb(66, 66, 66);
    margin-bottom: 10px;
}

.card {
    margin: 10px;
    padding: 20px;
    background-color:aquamarine;
    background-image: url('./assets/card-pattern.png');
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.05);
}

.card > img {
    background-color: rgb(73, 73, 73);
    border-radius:50%;
}

.card > div {
    font-size: 1.2em;
    color: rgb(66, 66, 66);
}