<script src='../../js/navbar.js'></script>

<a href="index.html"><img src='../../assets/icon.png' alt="ceramic plate"></a>

<div class="heading-title">
    Dvir Shvartzbard | 
    <span class="bold">Creative Pottery</span>
</div>

<ul class="nav-tabs" id="myLinks">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="products.html">Shop</a></li>
</ul>

<a href="javascript:void(0);" class="burgIcon" onclick="navBurControl()">
    <i class="fa fa-bars fa-2x"></i>