.content {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.content > div {
  margin-bottom: 30px;
}

.content > div > input {
  margin-right: 20px;
}
