<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/Shop">Shop</a>
    </nav>
</header>
<h1>Welcome to my page</h1>